<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="TrackingMap.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=4d2f404d-e07f-453c-90fe-7f4137c6d42b&lang=ru_RU"></script>
    <script src="Pages/navigationmap.razor.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
